@page
@model Service_Auto.Pages.ServiceAppointments.DetailsModel

@{
    ViewData["Title"] = "Detalii";
}

<div>
    <h4>Programare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAppointment.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceAppointment.Vehicle.LicensePlate) - 
            @Html.DisplayFor(model => model.ServiceAppointment.Vehicle.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAppointment.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceAppointment.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAppointment.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceAppointment.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAppointment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceAppointment.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ServiceAppointment.AppointmentID">Modifica</a> |
    <a asp-page="./Index">Programari</a>
</div>
