@page
@model Service_Auto.Pages.Vehicles.DeleteModel

@{
    ViewData["Title"] = "Sterge";
}


<h4>Sunteti siguri ca vreti sa stergeti inregistrarea?</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.LicensePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Customer.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vehicle.VehicleID" />
        <input type="submit" value="Sterge" class="btn btn-danger" />
    </form>
</div>
